{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "eslint:recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "jest", "prettier", "import"],
  "rules": {
    "no-throw-literal": "off",
    "@typescript-eslint/no-throw-literal": "error",
    "react/prop-types": "off",
    "react/no-danger": 0,
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variableLike", "format": ["snake_case", "camelCase", "PascalCase", "UPPER_CASE"]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "react/no-unused-prop-types": "warn",
    "class-methods-use-this": 0,
    "linebreak-style": ["error", "unix"],
    "no-async-promise-executor": 0,
    "import/imports-first": ["error", "absolute-first"],
    "no-console": 1,
    "no-unused-vars": 1,
    "no-const-assign": 1,
    "no-dupe-keys": 1,
    "no-constant-condition": 0
  }
}
