.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 16px 50px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.location-name {
    font-size: 28px;
    color: rgb(4,181,252);
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.search-input input {
    display: flex;
    width: 362px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: 1px solid #e5e5e5;
    outline: none;
    border-radius: 10px;
    padding-left: 40px;
    color: #626262;
    font-size: 18px;
    font-weight: 400;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ebf4f6;
    border-radius: 40px;
    cursor: pointer;
}
