.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.loader {
    width: 100%;
    height: 100%;
}

.main-section {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    align-items: flex-start;
    margin-top: 40px;
    width: 100%;
    flex-wrap: wrap;
}

.weather-summary {
    flex: 2;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-text {
    color: #626262;
}

.main-summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.divider {
    border: 1px solid #E5E5E5;
}

.main-temp {
    font-weight: 500;
    font-size: 80px;
}

.summary-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #626262;
}

.summary-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    color: #626262;
}

.summary-conditions {
    font-size: 26px;
}

.weather-icon img {
    width: 120px;
    height: 120px;
}

.weather-details {
    flex: 1;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.weather-element {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.element-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 2;
}

.element-image {
    flex: 1;
}

.element-name {
    color: #626262;
    font-size: 16px;
}

.element-value {
    font-size: 20px;
}

.element-image img {
    width: 50px;
    height: 50px;
}

.divider-section {
    width: 100%;
}

.element-divider {
    border: 1px solid #E5E5E5;
}

.details {
    color: #626262;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .weather-card  {
        width: 100%;
        margin-bottom: 40px;
    }

    .location-details {
        font-size: 35px;
        color: rgb(4,181,252);
        background: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
        width: 85%;
    }

    .weather-summary {
        gap: 10px;
        margin-bottom: 20px;
    }

    .main-section {
        width: 90%;
        margin-top: 20px;
    }

    .weather-icon img {
        width: 85px;
        height: 85px;
    }
    .main-temp {
        font-size: 70px;
    }

    .summary-details {
        margin-left: unset;
    }
}

@media screen and (max-width: 1024px) {
    .summary-details {
        margin-left: unset;
    }
}

@media screen and (min-width: 769px) {
    .location-details {
        display: none;
    }
}
